<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque - LogBook - ADM</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/PaginaADM/Estilos/EstiloADM.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<body>
    <div class="header">
        <img class="bpk" src="/Imagens/bpklogo.png" alt="biopark">
    </div>
    <div class="containerGeral">
    <div class="filtro">
        <div class="topo"></div>
        <p class="textoF">Filtrar Respostas </p>
        <hr>
            <input id="pesquisar" placeholder="Digite o ID da resposta" type="text">
        <select name="filtro" id="tipoFiltro">
            <option value="ID" selected>ID</option>
            <option value="Nome">Nome do Responsável</option>
            <option value="Code">Codigo do Reagente</option>
            <option value="Reagente">Nome do Reagente</option>
            <option value="Data">Data</option>
        </select>
        <div class="btnF">
            <button id="botaoFiltrar">Filtrar</button>
            <button id="removeFiltro">Remover Filtros</button>
        </div>
        <div class="linha"></div>
        <div class="respfiltradas">
            <% respostas.slice(0, 6).forEach(function(data){ %>
                <div class="novaResposta">
                    <div class="containerTextos">
                        <div class="nomeFiltro">Nome: <%= data.Responsavel %></div>
                        <div class="dataFiltro">Data: <%= moment(data.DataHora).format('DD/MM/YYYY HH:mm') %></div>
                        <div class="idFiltro">ID: <%= data.id %></div>
                    </div>
                    <img class="editar" 
                        data-id="<%= data.id %>"
                        data-Responsavel="<%= data.Responsavel %>"
                        src="/Imagens/edit.png" alt="Editar">
                    <img class="comentar" 
                        data-id="<%= data.id %>"
                        data-Responsavel="<%= data.Responsavel %>"
                        src="/Imagens/Comentario.png" alt="Comentar">
                    <img class="deletar"
                        data-id="<%= data.id %>"
                        data-Responsavel="<%= data.Responsavel %>"
                        data-DataHora="<%= moment(data.DataHora).format('DD/MM/YYYY HH:mm') %>"
                        src="/Imagens/trash-2-512.png" alt="Deletar">
                </div>
            <% }); %>            
        </div>        
    </div>
    <div class="respostas">
        <div class="tabela">
        <table class="respostasEnv">
            <tr>
                <th class="thResp" id="thId">ID</th>
                <th class="thResp" id="thNome">Nome</th>
                <th class="thResp" id="thCodR">Cod Reag</th>
                <th class="thResp" id="thReag">Reagente</th>
                <th class="thResp" id="thQtd">Quantidade</th>
                <th class="thResp" id="thObs">Observação</th>
                <th class="thResp" id="thData">Data</th>
            </tr>
            <% respostas.forEach(function(data) { %>
                <tr>
                    <td class="respMongo"><%= data.id %></td>
                    <td class="respMongo"><%= data.Responsavel %></td>
                    <td class="respMongo"><%= data.CodigoReagente %></td>
                    <td class="respMongo"><%= data.Reagente %></td>
                    <td class="respMongo"><%= data.Quantidade + ' ' + data.Medida + ' ' + data.Outros %></td>
                    <td class="respMongo"><%= data.Observacao %></td>
                    <td class="respMongo"><%= moment(data.DataHora).format('DD/MM/YYYY HH:mm') %></td>
                </tr>
            <% }); %>
        </table>
        <div class="containerBtns">
            <button id="btnAnterior">Página Anterior</button>
            <button id="btnProximo">Próxima Página</button>
        </div>
    </div>
    <hr>
    <div class="googlesheet">
        <button id="baixar">
            <a href="https://docs.google.com/spreadsheets/d/1RNCNXsqR2xSqnosi33V9Uu2s_o0EbxjWB3CckXLKMBA/edit#gid=0" target="_blank">Abrir no aplicativo Google Planilhas</a>
        </button>
        </div>
    </div>
</div>
<div id="overlay"></div>
<div id="confirmar">
    <p id="confirmacao">Tem certeza que deseja excluir essa resposta?</p>
    <button id="sim">Sim, Deletar</button>
    <button id="nao">Não</button>
</div>
<div id="divEdit">
    <h1>Atualizar Informações </h1>
    <p id="respAtual"> Resposta Atual: </p>
    <label for="Responsavel">Atualizar o Nome do Responsavel</label>
    <br>
    <input type="text" class="att" id="Responsavel" placeholder="Digite aqui..."> 
    <br>
    <label for="Codigo">Atualizar o Código do Reagente</label>
    <br>
    <input type="text" class="att" id="Codigo" placeholder="Digite aqui...">
    <br>
    <label for="Reagente">Atualizar o Reagente</label>
    <br>
    <input type="text" class="att" id="Reagente" placeholder="Digite aqui..."> 
    <br>
    <label for="Quantidade">Atualizar a Quantidade</label>
    <br>
    <input type="text" class="att" id="Quantidade" placeholder="Digite aqui..."> 
    <br>
    <label for="Medida">Atualizar a Medida</label>
    <br>
    <input type="text" class="att" id="Medida" placeholder="Digite aqui..."> 
    <br>
    <label for="Outros">Atualizar Outros (medida)</label>
    <br>
    <input type="text" class="att" id="Outros" placeholder="Digite aqui..."> 
    <br>
    <label for="Observacao">Atualizar a Observação do Responsável</label>
    <br>
    <input type="text" class="att" id="Observacao" placeholder="Digite aqui...">
    <br>
    
    <button id="simEdit">Confirmar Edição</button>
    <button id="naoEdit">Cancelar</button>
</div>
<div id="divComment">
    <h2>Adicionar um Comentário para essa Resposta</h2>
    <p id="respAtualC"> Resposta Atual: </p>
    <input type="text" id="addComment" placeholder="Digite aqui...">

    <button id="simComment">Adicionar Comentário</button>
    <button id="naoComment">Cancelar</button>
    <div class="comentarios">
        <h2>Comentários:</h2>
    </div>
</div>

    <script src="/PaginaADM/Scripts/ScriptADM.js"></script>
</body>
</html>
